@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-logo: "Tinos", serif;
  --font-normal: "Poppins", sans-serif;
  --font-title: "Merriweather", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f4f4f4;
  font-family: var(--font-normal);
}

#root {
  width: 100%;

  nav {
    width: 100%;
    height: 65px;
    padding: 1rem;
    background-color: #ECF22E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px;

    .logo {
      font-size: 1.8rem;
      font-family: var(--font-logo);
      font-weight: 700;
    }

    .links {
      display: flex;
      gap: 1rem;

      a {
        color: inherit;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }

  .home {
    width: 100%;
    height: calc(100vh - 65px);
    background: linear-gradient(#0d0c0d8f, #0d0c0d82), url(https://images.unsplash.com/photo-1580793241553-e9f1cce181af?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    h1 {
      font-family: var(--font-title);
      font-size: clamp(3rem, 5vw, 5rem);
      text-align: center;
      color: #f4f4f4;
      /* -webkit-text-stroke: 2px #0d0d0d; */
      text-transform: capitalize;
      line-height: 1;
    }

    button {
      font-size: 1.2rem;
      padding: .5rem 1rem;
      border: none;
      outline: none;
      background-color: #e9dd3f;
      cursor: pointer;
      font-weight: 600;
      border-radius: .2rem;
      box-shadow: 6px 6px;
      transition: all .2s ease;
    }

    button:active {
      box-shadow: 0px 0px;
    }
  }

  .catalog {
    width: 100%;
    min-height: calc(100vh - 65px);
    padding: 1rem;
    background-color: #dfdfdf;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    .card {
      width: 100%;
      /* height: max-content; */
      background-color: #ffffff;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: .5rem;
      border-radius: .2rem;

      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: top;
        background-color: #eaeaea;
        border-radius: .5rem;
      }

      .btnGrp {
        display: flex;
        gap: 1rem;

        button {
          flex-grow: 1;
          font-size: 1rem;
          padding: .5rem 1rem;
          border: none;
          outline: none;
          background-color: #e9dd3f;
          cursor: pointer;
          font-weight: 600;
          border-radius: .2rem;
          box-shadow: 6px 6px;
          transition: all .2s ease;
        }

        button:nth-child(2) {
          background-color: #fffef2;
          border: 1px solid;
        }

        button:active {
          box-shadow: 0px 0px;
        }
      }
    }
  }

  .productDets {
    width: 100%;
    min-height: calc(100vh - 65px);

    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100%;
    }

    h1 {
      line-height: 1;
    }

    .price {
      span {
        font-size: 1.5rem;
      }
    }

    .stars {
      color: #e9dd3f;
      -webkit-text-stroke: 1px #000;
      font-size: 1.5rem;


      i {
        display: inline-block;
        margin-right: .2rem;
      }
    }
  }
}

@media (min-width: 500px) {
  #root {
    .catalog {
      grid-template-columns: 1fr 1fr;
    }

    .productDets {
      width: 100%;
      height: calc(100vh - 65px);
      overflow: hidden;

      padding: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

     .image, .details {
      width: 50%;
     }

     img {
      width: 100%;
      max-width: 600px;
      aspect-ratio: 1/1;
      object-fit: contain;
     }
    }
  }
}

@media (min-width: 900px) {
  #root {
    .catalog {
      grid-template-columns: repeat(3, 1fr);
    }

    .productDets {
      width: 100%;
      height: calc(100vh - 65px);
      overflow: hidden;

      padding: 1rem;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 1rem;
    }
  }
}

@media (min-width: 1200px) {
  #root {
    .catalog {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}